.fade-in.active {
   opacity: 1;  
	
}

.fade-in {
    transition: 1s ease all;
    opacity:0;
}

.varsity-red {
    color: #B01301;
}

body {
    font-family: 'Staatliches', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.row-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    opacity:1;
    
}

@keyframes upload-fadein{
    from {
        opacity: 0;
        transform: translate3d(0, -8%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

}
.animate-upload {
    animation: upload-fadein 1s ease-out both;
    -webkit-animation: upload-fadein 1s ease-out both;

}

.box {
    border-width: 6px; 
    color: red; 
    flex: 1; 
    max-width: 50%;
    height:27em;
    text-align:center;
    align-items:center;
    display:flex;
}


.box::before {
    display:inline-block;
    border-radius: 2px;
    flex: 1 0 auto;
    align-self:flex-end;
    content: attr(data-text-before);
    color:black;
    border-bottom: 2px solid #B01301;
    border-left: 2px solid #B01301;
}
.box::after {
    display:inline-block;
    border-radius: 2px;
    flex: 1 0 auto;
    align-self:flex-start;
    content: attr(data-text-before);
    color:black;
    border-top: 2px solid #B01301;
    border-right: 2px solid #B01301;
}
.flex-center {
    height: 100%;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.header-font {
    font-family: 'Roboto', sans-serif;

}
.background-slider-left {
    background-image: linear-gradient(to left,
                                      white,
                                      white 50%,
                                      transparent 50%,
                                      transparent);
    background-position: 0 center;
    background-size: 300% 100%;
    transition: all .4s ease-in;
    
}

.background-slider-left.active {
    background-position: 100% center;

}

.background-slider-right {
    background-image: linear-gradient(to right,
                                      black,
                                      black 33.33333%,
                                      #B01301 33.33333%,
                                      #B01301 66.66666%,
                                      transparent 66.66666%,
                                      transparent);
    background-position: 100% 0;
    background-size: 300% 100%;
    transition: all .45s ease-out;
    
}
.background-slider-black {
    background-image: linear-gradient(to right,
                                      black,
                                      black 50%,
                                      transparent 50%,
                                      transparent);
    background-position: 100% 0;
    background-size: 300% 100%;
    transition: all .45s ease-out;

}

.background-slider-black.active {

    background-position: 100% center;
}

.background-slider-right.active {
    background-position: 50% 0;

}

.background-slider-right.active2 {
    background-position: 0 0;
}
.hide {
    display: none;
}