input:focus {outline: none; }
button:focus {
    outline:none;
}
.model-title-override {
    background-color: black !important;
    
}

.centered-modal.in {
    display: flex !important;
}
.centered-modal .modal-dialog {
    margin: auto;
}

.modal-header-override > button > span{
    text-shadow:none;
    color: #B01301;
}


.fade-in.active {
   opacity: 1;  
	
}

.fade-in {
    transition: 1s ease all;
    opacity:0;
}

.cancel-color {
    stroke: #B01301; 
}


.success-color.active {
    fill: #B01301; 
}

.success-color {
    fill: black;
    transition: 1s ease-out all; 
    height:300px;
    width:300px;
    margin:auto;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error
.box__failure {
    display:none;
}

.b {
    z-index:100;
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color:#FDF7EF;
    box-shadow: inset -1px -1px 0 0 #FDF7EF;
    background-color: transparent;
    text-decoration: none;
    border-radius: 2px;
    border:0; 
    position:relative;
    
}

.b::before, .b::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}
.box__success-button::before, .box__success-button::after, 
.box__failure-button::before, .box__failure-button::after {
    border: 2px solid transparent;
    height:0;
    width:0;
    
}
.box__success-button::before, .box__failure-button::before {
    top:0;
    left:0;
    
}
.box__success-button::after, .box__failure-button::after {
    bottom:0;
    right:0;
    
}
.box__success-button:hover, .box__failure-button:hover {
    color: #B01301 !important;
}
.box__success-button:hover::before, .box__success-button:hover::after,
.box__failure-button:hover::before, .box__failure-button:hover::after {
    width: 100%;
    height:100%;
}
.box__success-button:hover::before, .box__failure-button:hover::before {
    border-left-color: #B01301;
    border-top-color: #B01301;
    -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.box__success-button:hover::after, .box__failure-button:hover::after {
    border-right-color: black;
    border-bottom-color: black;
    -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.box__result-peripheral-fade {
    opacity: 0;
    transition: opacity 2s ease-out 0s, color 1s;
    cursor: pointer;
    color: ivory;
    

}
.box__result-peripheral-fade.active {
    transition: opacity 2s ease-out 2s, color 1s;
    opacity: 1;
}

.box__result-peripheral-fade:hover {
    color: #B01301 !important;
}

.box__result-picture-fade {
    opacity: 0;
    transition: 2s ease-out all;
}

.box__result-picture-fade.active {
    opacity:1;
}

button::before, button::after {
  width: 100%;
  height: 100%;
}
    
    
.box__file {
    cursor: pointer;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    z-index: 1000;
}

.box__button {
    font-weight: 700;     
    color: #e5edf1;     
    background-color: #39bfd3;     
    display: none;     
    padding: 8px 16px;
    margin: 40px auto 0; 
}
.is-dragover {
}

.form.is-uploading .box__input {
    visibility: none;
}

.varsity-red {
    color: #B01301;
}

body {
    font-family: 'Staatliches', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.row-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    opacity:1;
    
}

@keyframes upload-fadein{
    from {
        opacity: 0;
        transform: translate3d(0, -8%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

}
.animate-upload {
    animation: upload-fadein 1s ease-out both;
    -webkit-animation: upload-fadein 1s ease-out both;

}

.box {
    border-width: 6px; 
    color: red; 
    flex: 1; 
    max-width: 50%;
    height:70%;
    text-align:center;
    align-items:center;
    display:flex;
}


.box::before {
    display:inline-block;
    border-radius: 2px;
    flex: 1 0 auto;
    align-self:flex-end;
    content: attr(data-text-before);
    color:black;
    border-bottom: 2px solid #B01301;
    border-left: 2px solid #B01301;
    transition: 0.5s ease-in all;
    opacity:1;
    height:2em;
}

.box-form {
    flex-grow:1;
}
.box::after {
    display:inline-block;
    border-radius: 2px;
    flex: 1 0 auto;
    align-self:flex-start;
    content: attr(data-text-before);
    color:black;
    border-top: 2px solid #B01301;
    border-right: 2px solid #B01301;
    transition: 0.5s ease-in all;
    opacity:1;
    height:2em;
}

.box.hide-before::before {
    opacity:0;
}
.box.hide-after::after {
    opacity:0;
}
.flex-center {
    height: 100%;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.header-font {
    font-family: 'Roboto', sans-serif;

}
.background-slider-left {
    background-image: linear-gradient(to left,
                                      white,
                                      white 50%,
                                      transparent 50%,
                                      transparent);
    background-position: 0 center;
    background-size: 300% 100%;
    transition: all .4s ease-in;
    
}

.background-slider-left.active {
    background-position: 100% center;

}

.background-slider-right {
    background-image: linear-gradient(to right,
                                      black,
                                      black 33.33333%,
                                      #B01301 33.33333%,
                                      #B01301 66.66666%,
                                      transparent 66.66666%,
                                      transparent);
    background-position: 100% 0;
    background-size: 300% 100%;
    transition: all .45s ease-out;
    
}
.background-slider-black {
    background-image: linear-gradient(to right,
                                      black,
                                      black 50%,
                                      transparent 50%,
                                      transparent);
    background-position: 100% 0;
    background-size: 300% 100%;
    transition: all .45s ease-out;


}

.background-slider-black.active {

    background-position: 100% center;
}

.background-slider-right.active {
    background-position: 50% 0;

}

.background-slider-right.active2 {
    background-position: 0 0;
}
.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #B01301;
    background: -moz-linear-gradient(left,#B01301 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #B01301 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #B01301 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #B01301 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #B01301 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    transition: 1s ease-out all;
    opacity:0;
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: #B01301;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: black;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .loader.active {
    opacity: 1;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
.hide {
    display: none;
}
.hide-opacity {
    opacity: 0;
}

@media only screen 
    and (max-width:415px) {
    .responsive-height{ 
        height:50%;
        
    }
    .responsive-text {
        font-size:8em !important;
    }        
}